-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('USER', 'ADMIN');

-- CreateEnum
CREATE TYPE "UserStatus" AS ENUM ('ACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('FUND_WALLET', 'AIRTIME', 'DATA', 'ELECTRICITY', 'CABLE', 'EXAM_PIN', 'WITHDRAWAL', 'NIN');

-- CreateEnum
CREATE TYPE "WithdrawalStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'PAID');

-- CreateEnum
CREATE TYPE "BusinessWithdrawalStatus" AS ENUM ('PENDING', 'PROCESSING', 'SUCCESS', 'FAILED', 'REVERSED');

-- CreateEnum
CREATE TYPE "BusinessWithdrawalMethod" AS ENUM ('MANUAL', 'PAYSTACK');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "walletBalance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "role" "Role" NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "resetPasswordExpires" TIMESTAMP(3),
    "resetPasswordToken" TEXT,
    "status" "UserStatus" NOT NULL DEFAULT 'ACTIVE',
    "emailVerificationExpires" TIMESTAMP(3),
    "emailVerificationToken" TEXT,
    "emailVerified" BOOLEAN NOT NULL DEFAULT false,
    "phoneVerificationCode" TEXT,
    "phoneVerificationExpires" TIMESTAMP(3),
    "phoneVerified" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Transaction" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "TransactionType" NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "description" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "provider" TEXT NOT NULL,
    "cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "profit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "isTest" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Withdrawal" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "accountName" TEXT NOT NULL,
    "accountNumber" TEXT NOT NULL,
    "bankName" TEXT NOT NULL,
    "status" "WithdrawalStatus" NOT NULL DEFAULT 'PENDING',
    "reference" TEXT NOT NULL,
    "adminNote" TEXT,
    "processedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Withdrawal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BusinessWithdrawal" (
    "id" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "accountName" TEXT NOT NULL,
    "accountNumber" TEXT NOT NULL,
    "bankName" TEXT NOT NULL,
    "recipientCode" TEXT,
    "transferCode" TEXT,
    "reference" TEXT NOT NULL,
    "status" "BusinessWithdrawalStatus" NOT NULL DEFAULT 'PENDING',
    "adminNote" TEXT,
    "processedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "method" "BusinessWithdrawalMethod" NOT NULL DEFAULT 'MANUAL',
    "paystackReference" TEXT,

    CONSTRAINT "BusinessWithdrawal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BusinessWallet" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL DEFAULT 'Brainfriend Global Tech',
    "totalRevenue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "withdrawnProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "availableProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "balance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "recipientCode" TEXT,

    CONSTRAINT "BusinessWallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BusinessRevenue" (
    "id" TEXT NOT NULL,
    "transactionId" TEXT NOT NULL,
    "type" "TransactionType" NOT NULL,
    "provider" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "cost" DOUBLE PRECISION NOT NULL,
    "profit" DOUBLE PRECISION NOT NULL,
    "reference" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "businessWalletId" TEXT NOT NULL,

    CONSTRAINT "BusinessRevenue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CheapDataHubWallet" (
    "id" TEXT NOT NULL,
    "provider" TEXT NOT NULL DEFAULT 'CheapDataHub',
    "balance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "lastChecked" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CheapDataHubWallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExamPin" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "pin" TEXT NOT NULL,
    "serial" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "reference" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExamPin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CbtAnswer" (
    "id" TEXT NOT NULL,
    "attemptId" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "selectedAnswer" TEXT,
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "marksAwarded" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CbtAnswer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CbtAttempt" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "examId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "score" INTEGER NOT NULL DEFAULT 0,
    "totalMarks" INTEGER NOT NULL DEFAULT 0,
    "percentage" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "CbtAttempt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CbtExam" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "duration" INTEGER NOT NULL,
    "totalMarks" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CbtExam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CbtQuestion" (
    "id" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "optionA" TEXT NOT NULL,
    "optionB" TEXT NOT NULL,
    "optionC" TEXT NOT NULL,
    "optionD" TEXT NOT NULL,
    "correctAnswer" TEXT NOT NULL,
    "explanation" TEXT,
    "marks" INTEGER NOT NULL DEFAULT 1,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "subjectId" TEXT NOT NULL,

    CONSTRAINT "CbtQuestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CbtSubject" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "examId" TEXT NOT NULL,

    CONSTRAINT "CbtSubject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordResetToken" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DataPlan" (
    "id" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "bundleId" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "size" TEXT NOT NULL,
    "duration" TEXT NOT NULL,
    "providerPrice" DOUBLE PRECISION NOT NULL,
    "sellingPrice" DOUBLE PRECISION NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DataPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CablePlan" (
    "id" TEXT NOT NULL,
    "planId" INTEGER NOT NULL,
    "provider" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "providerPrice" DOUBLE PRECISION NOT NULL,
    "sellingPrice" DOUBLE PRECISION NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CablePlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ElectricityProvider" (
    "id" TEXT NOT NULL,
    "providerId" INTEGER NOT NULL,
    "code" TEXT,
    "name" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ElectricityProvider_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SystemSetting" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NinVerification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "nin" TEXT NOT NULL,
    "cardType" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "reference" TEXT NOT NULL,
    "transactionId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'SUCCESS',
    "firstName" TEXT,
    "middleName" TEXT,
    "surname" TEXT,
    "gender" TEXT,
    "birthDate" TEXT,
    "telephone" TEXT,
    "photo" TEXT,
    "hasPdf" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "pdfBase64" TEXT,

    CONSTRAINT "NinVerification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_phone_key" ON "User"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "User_emailVerificationToken_key" ON "User"("emailVerificationToken");

-- CreateIndex
CREATE INDEX "User_email_idx" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_phone_idx" ON "User"("phone");

-- CreateIndex
CREATE INDEX "User_status_idx" ON "User"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Transaction_reference_key" ON "Transaction"("reference");

-- CreateIndex
CREATE INDEX "Transaction_userId_idx" ON "Transaction"("userId");

-- CreateIndex
CREATE INDEX "Transaction_type_idx" ON "Transaction"("type");

-- CreateIndex
CREATE INDEX "Transaction_status_idx" ON "Transaction"("status");

-- CreateIndex
CREATE INDEX "Transaction_createdAt_idx" ON "Transaction"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Withdrawal_reference_key" ON "Withdrawal"("reference");

-- CreateIndex
CREATE INDEX "Withdrawal_userId_idx" ON "Withdrawal"("userId");

-- CreateIndex
CREATE INDEX "Withdrawal_status_idx" ON "Withdrawal"("status");

-- CreateIndex
CREATE INDEX "Withdrawal_createdAt_idx" ON "Withdrawal"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "BusinessWithdrawal_reference_key" ON "BusinessWithdrawal"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "BusinessWithdrawal_paystackReference_key" ON "BusinessWithdrawal"("paystackReference");

-- CreateIndex
CREATE INDEX "BusinessWithdrawal_status_idx" ON "BusinessWithdrawal"("status");

-- CreateIndex
CREATE INDEX "BusinessWithdrawal_createdAt_idx" ON "BusinessWithdrawal"("createdAt");

-- CreateIndex
CREATE INDEX "BusinessWithdrawal_method_idx" ON "BusinessWithdrawal"("method");

-- CreateIndex
CREATE INDEX "BusinessWithdrawal_paystackReference_idx" ON "BusinessWithdrawal"("paystackReference");

-- CreateIndex
CREATE UNIQUE INDEX "BusinessWallet_name_key" ON "BusinessWallet"("name");

-- CreateIndex
CREATE UNIQUE INDEX "BusinessRevenue_transactionId_key" ON "BusinessRevenue"("transactionId");

-- CreateIndex
CREATE UNIQUE INDEX "BusinessRevenue_reference_key" ON "BusinessRevenue"("reference");

-- CreateIndex
CREATE INDEX "BusinessRevenue_type_idx" ON "BusinessRevenue"("type");

-- CreateIndex
CREATE INDEX "BusinessRevenue_provider_idx" ON "BusinessRevenue"("provider");

-- CreateIndex
CREATE INDEX "BusinessRevenue_createdAt_idx" ON "BusinessRevenue"("createdAt");

-- CreateIndex
CREATE INDEX "BusinessRevenue_businessWalletId_idx" ON "BusinessRevenue"("businessWalletId");

-- CreateIndex
CREATE UNIQUE INDEX "CheapDataHubWallet_provider_key" ON "CheapDataHubWallet"("provider");

-- CreateIndex
CREATE UNIQUE INDEX "ExamPin_reference_key" ON "ExamPin"("reference");

-- CreateIndex
CREATE INDEX "ExamPin_createdAt_idx" ON "ExamPin"("createdAt");

-- CreateIndex
CREATE INDEX "ExamPin_userId_idx" ON "ExamPin"("userId");

-- CreateIndex
CREATE INDEX "CbtAnswer_questionId_idx" ON "CbtAnswer"("questionId");

-- CreateIndex
CREATE UNIQUE INDEX "CbtAnswer_attemptId_questionId_key" ON "CbtAnswer"("attemptId", "questionId");

-- CreateIndex
CREATE INDEX "CbtAttempt_examId_idx" ON "CbtAttempt"("examId");

-- CreateIndex
CREATE INDEX "CbtAttempt_status_idx" ON "CbtAttempt"("status");

-- CreateIndex
CREATE INDEX "CbtAttempt_userId_idx" ON "CbtAttempt"("userId");

-- CreateIndex
CREATE INDEX "CbtQuestion_subjectId_idx" ON "CbtQuestion"("subjectId");

-- CreateIndex
CREATE INDEX "CbtSubject_examId_idx" ON "CbtSubject"("examId");

-- CreateIndex
CREATE UNIQUE INDEX "CbtSubject_examId_name_key" ON "CbtSubject"("examId", "name");

-- CreateIndex
CREATE UNIQUE INDEX "PasswordResetToken_tokenHash_key" ON "PasswordResetToken"("tokenHash");

-- CreateIndex
CREATE INDEX "PasswordResetToken_email_idx" ON "PasswordResetToken"("email");

-- CreateIndex
CREATE UNIQUE INDEX "DataPlan_bundleId_key" ON "DataPlan"("bundleId");

-- CreateIndex
CREATE INDEX "DataPlan_provider_idx" ON "DataPlan"("provider");

-- CreateIndex
CREATE INDEX "DataPlan_status_idx" ON "DataPlan"("status");

-- CreateIndex
CREATE INDEX "DataPlan_provider_status_idx" ON "DataPlan"("provider", "status");

-- CreateIndex
CREATE UNIQUE INDEX "CablePlan_planId_key" ON "CablePlan"("planId");

-- CreateIndex
CREATE INDEX "CablePlan_provider_idx" ON "CablePlan"("provider");

-- CreateIndex
CREATE INDEX "CablePlan_status_idx" ON "CablePlan"("status");

-- CreateIndex
CREATE UNIQUE INDEX "ElectricityProvider_providerId_key" ON "ElectricityProvider"("providerId");

-- CreateIndex
CREATE INDEX "ElectricityProvider_status_idx" ON "ElectricityProvider"("status");

-- CreateIndex
CREATE UNIQUE INDEX "SystemSetting_key_key" ON "SystemSetting"("key");

-- CreateIndex
CREATE UNIQUE INDEX "NinVerification_reference_key" ON "NinVerification"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "NinVerification_transactionId_key" ON "NinVerification"("transactionId");

-- CreateIndex
CREATE INDEX "NinVerification_userId_idx" ON "NinVerification"("userId");

-- CreateIndex
CREATE INDEX "NinVerification_nin_idx" ON "NinVerification"("nin");

-- CreateIndex
CREATE INDEX "NinVerification_reference_idx" ON "NinVerification"("reference");

-- CreateIndex
CREATE INDEX "NinVerification_createdAt_idx" ON "NinVerification"("createdAt");

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Withdrawal" ADD CONSTRAINT "Withdrawal_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BusinessRevenue" ADD CONSTRAINT "BusinessRevenue_businessWalletId_fkey" FOREIGN KEY ("businessWalletId") REFERENCES "BusinessWallet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamPin" ADD CONSTRAINT "ExamPin_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CbtAnswer" ADD CONSTRAINT "CbtAnswer_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "CbtAttempt"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CbtAnswer" ADD CONSTRAINT "CbtAnswer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "CbtQuestion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CbtAttempt" ADD CONSTRAINT "CbtAttempt_examId_fkey" FOREIGN KEY ("examId") REFERENCES "CbtExam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CbtAttempt" ADD CONSTRAINT "CbtAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CbtQuestion" ADD CONSTRAINT "CbtQuestion_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "CbtSubject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CbtSubject" ADD CONSTRAINT "CbtSubject_examId_fkey" FOREIGN KEY ("examId") REFERENCES "CbtExam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NinVerification" ADD CONSTRAINT "NinVerification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

